.timer {
	background: #fff;
	border-radius: 10px;
	box-shadow: -3px 2px 70px 0px rgba(128, 144, 174, 0.3);
	font-size: 16px;

	.col-3:not(:last-child) {
		border-right: 1px solid #eeebf2;
	}
}

.timer__countdown {
	font-weight: 600;
	font-size: rem(22px);
	color: $accent-color-1;
}