.pricing-section {
	background: url(../img/illustration-7.svg) no-repeat 44% 33%;
	background-size: 110%;

	.pricing-message {
		background: #fff;
		border-radius: 10px;
		box-shadow: -3px 2px 70px 0px rgba(128, 144, 174, 0.16);
	}
}
