[class^="icon-"], .icon {
	speak: none;
	display: inline-block;
	vertical-align: middle;
	width: 1rem;
	height: 1rem;
	line-height: 1rem;
	//background-size: cover;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.icon-down-open-big {  background-image:url(../images/icons/down-arrow.svg); }
.icon-plus {  background-image:url(../images/icons/plus.svg); }
.icon-minus {  background-image:url(../images/icons/minus.svg); }
.icon-ok {  background-image:url(../images/icons/checkmark.svg); }
.icon-left-open-big {  background-image:url(../images/icons/left-arrow.svg); }
.icon-right-open-big {  background-image:url(../images/icons/right-arrow.svg); }
.icon-cancel {  background-image:url(../images/icons/cancel.svg); }
.icon-search {  background-image:url(../images/icons/search.svg); }
.icon-docs { background-image:url(../images/icons/docs.svg); }
.icon-twitter { background-image:url(../images/icons/twitter.svg); }
.icon-youtube { background-image:url(../images/icons/youtube.svg); }
.icon-question-circle { background-image:url(../images/icons/question-circle.svg); }
.icon-quotes {  background-image:url(../images/icons/quotes.svg); }
.icon-infinite {  background-image:url(../images/icons/infinite.svg); }
.icon-pen {  background-image:url(../images/icons/pen.svg); }